*{
    margin: 0px;
    padding: 0px;
}

header{
    padding-top: 20px;
    height: 60px;
    display: flex;
}

/* HEADER GOES HERE  */

.logo{
    height: 50px;
    width: 17%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo img{
    height: 50px;
}
.logo-name h3{
    font-size: 27px;
}
.logo-name p{
    font-size: 8px;
}

.navbar{
    height: 50px;
    width: 50%;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.navbar ul li{
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul li:hover{
    cursor: pointer;
    background-color: lightblue;
    border-radius: 5px;
    color: black
}
.navbar ul select{
    padding: 10px 0px 10px 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
.navbar ul select:hover{
    cursor: pointer;
    background-color: lightblue;
    border-radius: 5px;
    color: black
}

.contacts{
   height: 50px;
    width: 33%;
    display: flex;
}
.call{
    height: 50px;
    width: 30%;
    padding-left: 20px;
    padding-top: 5px;  
}
.call h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 13px;
}
.call span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
.adopt-btn{
    height: 50px;
    width: 70%;
}
.adopt-btn button{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 8px 20px 8px 20px;
    background-color: lightblue;
    border: none;
    color: black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 16px;    
}
.adopt-btn button img{
    padding-right: 5px;
}
.adopt-btn button:hover{
    cursor: pointer;
    background-color: rgba(52, 91, 220, 0.584);
    border-radius: 5px;
    color: white;
}

/* Header Ends Here */

/* Banner */

.banner1{
    height: 420px;
    width: 100%;
    display: flex;
    background-image: url('./Aver-main-bg\(1\).jpg');
}
.bannerText-div{
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerText h1{
    width: 450px;
    font-size: 70px;
}
.bannerText p{
    width: 280px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
.bannerText button{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 8px 20px 8px 20px;
    background-color: #0866FF;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 16px;    
}.bannerText button img{
    padding-left: 5px;
}.bannerText button:hover{
    cursor: pointer;
    background-color: #05388b;
    border-radius: 5px;
} 

.banner-img{
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.banner-img img{
    height: 432px;
}

.banner-waves{
    height: 400px;
    width: 30%;
}
.banner-waves img{
    height: 130px;
    width: 458px;
    padding: 0px 1px 1px 1px;
}

/* Info-box */

.info-box{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-box{
    height: 185px;
    width: 50%;
    border-radius: 10px;
    margin-top: -15px;
    background-color: white;
    box-shadow: 0px 0px 15px 0px beige;
    display: flex;

}
.info1{
    height: 170px;
    width: 33%;
}
.info1 img{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 60px;
}.info1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 10px 30px 0px 0px;
}.info1 p {
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 5px 0px 0px 40px;
}

.info2{
    height: 170px;
    width: 33%;
}
.info2 img{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 60px;
}.info2 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 10px 30px 0px 0px;
}.info2 p {
    width: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 5px 0px 0px 35px;
}
.info3{
    height: 170px;
    width: 33%;
}
.info3 img{
    height: 100px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 60px;
}.info3 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 10px 30px 0px 0px;
}.info3 p {
    width: 180px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 5px 0px 0px 35px;
}

/* Banner - 2  */

.banner2{
    height: 440px;
    width: 100%;
    margin-top: -40px;
    display: flex;
    background-color: lightblue;
}.banner-img2{
    height: 420px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}.banner-img2 img{
    height: 380px;
}.bannerText-div2{
    height: 420px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}.bannerText2 h1{
    width: 500px;
    font-size: 70px;
}.bannerText2 p{
    margin-top: 10px;
    margin-left:  10px;
    width: 440px;   
}

/* Info - box - 2 */

.infobox-2{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}.detail-box{
    height: 185px;
    width: 50%;
    border-radius: 10px;
    margin-top: -15px;
    background-color: white;
    box-shadow: 0px 0px 15px 0px beige;
    display: flex;
}.dog-sold{
    height: 125px;
    width: 25%;
    padding: 30px;
    margin-left: 10px;
}.dog-sold h1{
    font-size: 60px;
    font-weight: bold;
}.line{
    height: 80%;
    margin-top: 15px;
}.cat-sold{
    height: 125px;
    width: 25%;
    padding: 30px;
    margin-left: 40px;
}.cat-sold h1{
    font-size: 60px;
    font-weight: bold;
}.line2{
    height: 80%;
    margin-top: 15px;
}.years-of-exp{
    height: 125px;
    width: 20%;
    padding: 30px;
    margin-left: 40px;
}.years-of-exp h1{
    font-size: 60px;
    font-weight: bold ;
}

/* Banner - 3 */

.banner3{
     height: 500px;
    width: 100%;
    margin-top: -40px;
    background-color: rgba(231, 231, 208, 0.822);
}.banner3-heading{
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}.banner3-content{
    height: 220px;
    width: 590px;
    margin-top:100px;
}.banner3-content h2{
    font-size: 70px;
    margin-left: 60px;
}.banner3-content p{
    font-size: 22px;
    margin-top: 10px;
    width: 600px;  
}.banner-details{
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}.step-1{
    height: 180px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px rgba(127, 127, 113, 0.676);
}.step-1 h3{
    font-size: 30px;
    font-weight: bold;
    width: 300px;
    margin: 20px 0px 0px 25px;
}.step-1 p{
    width: 200px;
    margin: 20px 0px 0px 30px;
    font-size: 18px;
}

/* Navigations */

.links{
    height: 600px;
    width: 100%;
}
.end-bannerbox{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}.end-banner{
    height: 200px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(175, 170, 170, 0.413);
    display: flex;
    justify-content: center;
    align-items: center;
}.blue{
    height: 200px;
    width: 50%;                    
    background-color: #0866FF;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;                         
}.blue img{
    height: 150px;
    width: 150px;
}.endbanner-text{
    display: inline;
    margin-left: 25px;
}.endbanner-text h3{
    font-size: 30px;
    color: white;
}.endbanner-text p{
    font-size: 15px;
    color: white;
    width: 150px;
    margin-top: 10px;
}

.orange{
    height: 200px;
    width: 50%;  
    display: flex;                  
    background-color: #ff7b00cd;
    border-radius: 0px 10px 10px 0px;
}
.dog-img{
    margin-left: -110px;
    height: 200px;
}.orange-content{
    height: 200px;
    width: 70%;
    margin: 0px 0px 0px 80px;
    display: flex;
    justify-content: start;
    align-items: center;    
}.orange-content img{
    height: 150px;
    width: 150px;
}.orange-content h3{
    font-size: 30px;
    width: 250px;
    color: white;
}.orange-content p{
    font-size: 15px;
    color: white;
    width: 150px;
    margin-top: 10px;
}

/* Footer */

.footer{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}.footer-box{
    height: 250px;
    width: 20%;
}.footer-logo{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}.footer-logo img{
    height: 80px;
}.footer-logo h3{
    font-size: 27px;
}.footer-logo p{
    font-size: 8px;
}.aver-details{
    height: 170px;
    width: 100%;
    display: inline;
}.location{
    height: 40px;
    width: 90%;
    display: flex;
    margin: 10px 0px 0px 25px;
    justify-content: center;
    align-items: center;
}.location img{
    height: 25px;
    width: 25px;
    margin: 10px 10px 10px 10px;
}
.aver-call{
    height: 40px;
    width: 60%;
    display: flex;
    margin: 5px 0px 0px 40px;
    justify-content: center;
    align-items: center;
}.aver-call img{
    height: 25px;
    width: 25px;
    margin: 0px 10px 10px 10px;
}
.mail{
    height: 40px;
    width: 60%;
    display: flex;
    margin: 0px 0px 0px 38px;
    justify-content: center;
    align-items: center;
}.mail img{
    height: 25px;
    width: 25px;
    margin: 10px 10px 10px 10px;
}

/* Navigations */

.navigation{
    height: 200px;
}.navigation h3{
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    color: black;
}.navigation ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
}.navigation ul li{
    padding: 5px 0px 5px 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}.navigation ul li:hover{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.Aver-business{
    height: 200px;
}.Aver-business h3{
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    color: black
}.Aver-business ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
}.Aver-business ul li{
    padding: 5px 0px 5px 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}.Aver-business ul li:hover{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.Aver-info{
    height: 200px;
}.Aver-info h3{
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    color: black;
}.Aver-info ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
}.Aver-info ul li{
    padding: 5px 0px 5px 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}.Aver-info ul li:hover{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}