*{
    margin: 0px;
    padding: 0px;
}

header{
    padding-top: 20px;
    height: 60px;
    display: flex;
}

/* HEADER GOES HERE  */

.logo{
    height: 50px;
    width: 17%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo img{
    height: 50px;
}
.logo-name h3{
    font-size: 27px;
}
.logo-name p{
    font-size: 8px;
}

.navbar{
    height: 50px;
    width: 50%;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.navbar ul li{
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul li:hover{
    cursor: pointer;
    background-color: lightblue;
    border-radius: 5px;
    color: black
}
.navbar ul select{
    padding: 10px 0px 10px 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
.navbar ul select:hover{
    cursor: pointer;
    background-color: lightblue;
    border-radius: 5px;
    color: black
}

.contacts{
   height: 50px;
    width: 33%;
    display: flex;
}
.call{
    height: 50px;
    width: 30%;
    padding-left: 20px;
    padding-top: 5px;  
}
.call h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 13px;
}
.call span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
.adopt-btn{
    height: 50px;
    width: 70%;
}
.adopt-btn button{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 8px 20px 8px 20px;
    background-color: lightblue;
    border: none;
    color: black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 16px;    
}
.adopt-btn button img{
    padding-right: 5px;
}
.adopt-btn button:hover{
    cursor: pointer;
    background-color: rgba(52, 91, 220, 0.584);
    border-radius: 5px;
    color: white;
}

/* Header Ends Here */

/* Payment Section */

.paymentdiv{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 45vh;
    width: 100%;
}.donation-heading{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./donationpayment-img/Dog-bg.jpg");
    background-size: cover;
    background-position: center;
}.donation-heading h1{
    font-size: 50px;
    width: 700px;
    text-align: center;
}.donation-heading p{
    font-size: 17px;
    text-align: center;
    width: 550px;
    margin-top: 20px;
}.form-area{
    height: 115vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}form {
      background: #fff;
      padding: 65px 60px;
      border-radius: 12px;
      width: 45%;
      height: 80%;
} form label {
      font-size: 14px;
      display: block;
      margin-top: 15px;
      margin-bottom: 6px;
} form select, input {
      width: 100%;
      padding: 10px;
      border: 1px solid #f2c6a0;
      border-radius: 6px;
      font-size: 14px;
      outline: none;
      box-sizing: border-box;
      margin-bottom: 5px;
} form select:focus, input:focus {
      border-color: #ff914d;
}#hr-ruler{
    margin: 20px 0px;
}#Bill-info{
    font-weight: bold;
}.row {
      display: flex;
      gap: 10px;
}.row input {
      flex: 1;
}.row span{
    width: 50%;
}form button {
      margin-top: 25px;
      width: 100%;
      background: #ff7a00;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s ease;
} form button:hover {
      background: #e86e00;
}