*{
    margin: 0px;
    padding: 0px;
}

header{
    padding-top: 20px;
    height: 60px;
    display: flex;
}

/* HEADER GOES HERE  */

.logo{
    height: 50px;
    width: 17%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo img{
    height: 50px;
}
.logo-name h3{
    font-size: 27px;
}
.logo-name p{
    font-size: 8px;
}

.navbar{
    height: 50px;
    width: 50%;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.navbar ul li{
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul li:hover{
    cursor: pointer;
    background-color: lightblue;
    border-radius: 5px;
    color: black
}
.navbar ul select{
    padding: 10px 0px 10px 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
.navbar ul select:hover{
    cursor: pointer;
    background-color: lightblue;
    border-radius: 5px;
    color: black
}

.contacts{
   height: 50px;
    width: 33%;
    display: flex;
}
.call{
    height: 50px;
    width: 30%;
    padding-left: 20px;
    padding-top: 5px;  
}
.call h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 13px;
}
.call span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
.adopt-btn{
    height: 50px;
    width: 70%;
}
.adopt-btn button{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 8px 20px 8px 20px;
    background-color: lightblue;
    border: none;
    color: black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 16px;    
}
.adopt-btn button img{
    padding-right: 5px;
}
.adopt-btn button:hover{
    cursor: pointer;
    background-color: rgba(52, 91, 220, 0.584);
    border-radius: 5px;
    color: white;
}

/* Header Ends Here */

/* Banner-1 */

.banner-1{
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./volunteerapplication-img/Dog-bg.jpg");
    background-size: cover;
    background-position: center;
}.banner-1 h1 {
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
    width: 700px;
    text-align: center;
}.banner-1 p {
    font-size: 17px;
    text-align: center;
    width: 800px;
    margin-top: 20px;
}.application-form-div{
    height: 200vh;
    width: 100%;
    display: flex;
    justify-content: center;
}.application-form-container{
    height: 190vh;
    width: 60%;
}form{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}.fn-em-ln-ph{
    display: flex;
    height: 30vh;
    width: 100%;
}.fn-email{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}.fn-email label{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px 10px 0px;
    color: black;
}.fn-email input{
    height: 40px;
    width: 90%;
    background-color: #c5c5c556;
    border: 2px solid #c5c5c556;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 17px;
}.fn-email input::placeholder{
    font-size: 15px;
}.fn-email input:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.331); 
}.ln-phNo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}.ln-phNo label{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px 10px 0px;
    color: black;
}.ln-phNo input{
    height: 40px;
    width: 90%;
    background-color: #c5c5c556;
    border: 2px solid #c5c5c556;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 17px;
}.ln-phNo input::placeholder{
    font-size: 15px;
}.ln-phNo input:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.331); 
}.address{
    display: flex;
    flex-direction: column;
    height: 17vh;
    width: 100%;
}.address label{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px 10px 0px;
    color: black;
}.address input{
    height: 40px;
    width: 95%;
    background-color: #c5c5c556;
    border: 2px solid #c5c5c556;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 17px;
}.address input::placeholder{
    font-size: 15px;
}.address input:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.331); 
}.location-details{
    display: flex;
    height: 17vh;
    width: 100%;
}.city{
    display: flex;
    flex-direction: column;
    height: 17vh;
    width: 100%;
}.city label{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px 10px 0px;
    color: black;
}.city input{
    height: 40px;
    width: 85%;
    background-color: #c5c5c556;
    border: 2px solid #c5c5c556;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 17px;
}.city input::placeholder{
    font-size: 15px;
}.city input:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.331); 
}.state{
    display: flex;
    flex-direction: column;
    height: 17vh;
    width: 100%;
}.state label{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px 10px 0px;
    color: black;
}.state input{
    height: 40px;
    width: 85%;
    background-color: #c5c5c556;
    border: 2px solid #c5c5c556;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 17px;
}.state input::placeholder{
    font-size: 15px;
}.state input:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.331); 
}.zipcode{
    display: flex;
    flex-direction: column;
    height: 17vh;
    width: 100%;
}.zipcode label{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px 10px 0px;
    color: black;
}.zipcode input{
    height: 40px;
    width: 85%;
    background-color: #c5c5c556;
    border: 2px solid #c5c5c556;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 17px;
}.zipcode input::placeholder{
    font-size: 15px;
}.zipcode input:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.331); 
}.vlntr-interest{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    margin-bottom: 20px;
}.vlntr-interest label{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px 10px 0px;
    color: black;
}.vlntr-interest textarea{
    height: 120px;
    width: 100%;
}.vlntr-interest textarea{
    height: 100%;
    width: 93%;
    border: 2px solid #c5c5c556;
    background-color: #c5c5c556;
    border-radius: 8px;
    padding: 15px;
    font-size: 17px;
    resize: none;
}.vlntr-interest textarea::placeholder{
    font-size: 15px;
}.vlntr-interest textarea:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.331); 
}.vlntr-experience{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    margin-bottom: 20px;
}.vlntr-experience label{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px 10px 0px;
    color: black;
}.vlntr-experience textarea{
    height: 120px;
    width: 100%;
}.vlntr-experience textarea{
    height: 100%;
    width: 93%;
    border: 2px solid #c5c5c556;
    background-color: #c5c5c556;
    border-radius: 8px;
    padding: 15px;
    font-size: 17px;
    resize: none;
}.vlntr-experience textarea::placeholder{
    font-size: 15px;
}.vlntr-experience textarea:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.331); 
}.vlntr-available{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    margin-bottom: 20px;
}.vlntr-available label{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px 10px 0px;
    color: black;
}.vlntr-available textarea{
    height: 120px;
    width: 100%;
}.vlntr-available textarea{
    height: 100%;
    width: 93%;
    border: 2px solid #c5c5c556;
    background-color: #c5c5c556;
    border-radius: 8px;
    padding: 15px;
    font-size: 17px;
    resize: none;
}.vlntr-available textarea::placeholder{
    font-size: 15px;
}.vlntr-available textarea:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.331); 
}.submit-btn{
    height: 100%;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px 18px;
    background-color: #ec6d13d2;
    color: white;
}.submit-btn:hover{
    cursor: pointer;
    background-color: #ec6d13;
    color: white;
}

/* Volunteer Application Ends Here */

/* Footer */

.footer{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}.footer-box{
    height: 250px;
    width: 20%;
}.footer-logo{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}.footer-logo img{
    height: 80px;
}.footer-logo h3{
    font-size: 27px;
}.footer-logo p{
    font-size: 8px;
}.aver-details{
    height: 170px;
    width: 100%;
    display: inline;
}.location{
    height: 40px;
    width: 90%;
    display: flex;
    margin: 10px 0px 0px 25px;
    justify-content: center;
    align-items: center;
}.location img{
    height: 25px;
    width: 25px;
    margin: 10px 10px 10px 10px;
}
.aver-call{
    height: 40px;
    width: 60%;
    display: flex;
    margin: 5px 0px 0px 40px;
    justify-content: center;
    align-items: center;
}.aver-call img{
    height: 25px;
    width: 25px;
    margin: 0px 10px 10px 10px;
}
.mail{
    height: 40px;
    width: 60%;
    display: flex;
    margin: 0px 0px 0px 38px;
    justify-content: center;
    align-items: center;
}.mail img{
    height: 25px;
    width: 25px;
    margin: 10px 10px 10px 10px;
}

/* Navigations */

.navigation{
    height: 200px;
}.navigation h3{
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    color: black;
}.navigation ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
}.navigation ul li{
    padding: 5px 0px 5px 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}.navigation ul li:hover{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.Aver-business{
    height: 200px;
}.Aver-business h3{
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    color: black
}.Aver-business ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
}.Aver-business ul li{
    padding: 5px 0px 5px 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}.Aver-business ul li:hover{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.Aver-info{
    height: 200px;
}.Aver-info h3{
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    color: black;
}.Aver-info ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
}.Aver-info ul li{
    padding: 5px 0px 5px 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}.Aver-info ul li:hover{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/* Footer Ends Here */